*{
    margin: 0;
    padding: 0;
}

div{
  
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.main{
    background-color: violet;
    text-align: center;
}
